<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.bluefletch.motorola"
      version="0.1.0">
    <name>Motorola Cordova Plugin</name>


    <js-module src="www/datawedge.js" name="MotorolaDataWedge">
        <clobbers target="datawedge" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MotorolaDataWedge" >
                <param name="android-package" value="com.bluefletch.motorola.plugin.MotorolaDatawedgePlugin"/>
            </feature>
        </config-file>
         <config-file target="AndroidManifest.xml" parent="/*/application/activity">
           <intent-filter>
                <action android:name="com.bluefletch.motorola.datawedge.ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </config-file>
        <source-file src="lib/android/com/bluefletch/motorola/BarcodeScan.java" target-dir="src/com/bluefletch/motorola" />
        <source-file src="lib/android/com/bluefletch/motorola/ScanCallback.java" target-dir="src/com/bluefletch/motorola" />
        <source-file src="lib/android/com/bluefletch/motorola/DataWedgeIntentHandler.java" target-dir="src/com/bluefletch/motorola" />
        <source-file src="src/android/com/bluefletch/motorola/plugin/MotorolaDatawedgePlugin.java" target-dir="src/com/bluefletch/motorola/plugin" />
    </platform>

</plugin>


